@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
  font-family: 'Inter';
  background: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0 0 0.25em 0;
}
.container {
  margin: 2em;
}
.table {
  padding: 1em;
  background: #fff1;
  margin-bottom: 0.5em;
  width: 90%;
  border-radius: 1em;
}
i {
  font-size: 0.9em;
  color: #888;
}
.nav {
  padding: 1em 1em;
  margin: 0;
  background: #fff1;
  box-shadow: 0px 4px 15px 5px #0004;
}
a.nav-link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
}
a.nav-link:hover {
  color: #ccc;
  transition: 0.5s;
}
i a {
  color: #888;
}
i a:visited {
  color: #888;
}